- wrap_layout :layout do
  %article
    - if is_blog_article?
      %header
        %h1
          = current_article.title
        %dl.meta
          %dt.meta_title
            Published:
          %dd
            %time{datetime: "#{current_article.date.xmlschema}"}
              = current_article.date.strftime('%F')
          %dt.meta_title
            Tags:
          %dd
            - unless current_article.tags.empty?
              - current_article.tags.each do |tag|
                = link_to tag, tag_path(tag)
            - else
              None
    .article_body
      = yield
    - if is_blog_article?
      %footer
        %nav
          - previous_article = current_article.previous_article
          - if previous_article
            .previous_article
              = link_to "&laquo; #{previous_article.title}", previous_article
          - next_article = current_article.next_article
          - if next_article
            .next_article
              = link_to "#{next_article.title} &raquo;", next_article
