- wrap_layout :blog do
  %article.article{itemscope: '', itemtype: "http://schema.org/BlogPosting"}
    - if is_blog_article?
      %header.article-header
        %h1.article-header__title{itemprop: "name headline"}
          = current_article.title
        .article-meta
          %time.article-meta__date-published{datetime: current_article.date.iso8601, title: current_article.date.iso8601, itemprop: "datePublished"}
            = current_article.date.strftime(data.blog.time.formats.normal)
          %span.article-meta__delimiter
            &bull;
          %span.article-meta__tags{itemprop: "keywords"}
            - if current_article.tags.size > 0
              = current_article.tags.map {|tag| link_to tag, tag_path(tag), rel: "tag", class: "article-meta__tag"}.join(", ")
            - else
              = data.blog.untagged
    .article-body{itemprop: "articleBody"}
      = yield
    - if is_blog_article?
      %footer.article-footer
        %ul.pager
          - previous_article = current_article.previous_article
          - if previous_article
            %li.previous
              = link_to "#{data.blog.prev_sign} #{previous_article.title}", previous_article, rel: "prev"
          - next_article = current_article.next_article
          - if next_article
            %li.next
              = link_to "#{next_article.title} #{data.blog.next_sign}", next_article, rel: "next"
