---
pageable: true
---
%article.article
  %header.article-header
    %h1.article-header__title
      Archive for
      - case page_type
      - when 'day'
        = Date.new(year, month, day).strftime('%b %d %Y')
      - when 'month'
        = Date.new(year, month, 1).strftime('%b %Y')
      - when 'year'
        = year
  - if paginate && num_pages > 1
    %p.page-number
      Page #{page_number} of #{num_pages}
  .article-body.archive
    %ul.archive__list
      - page_articles.each_with_index do |article, i|
        %li.archive__item
          = link_to article.title, article
          %time.archive__date-published{datetime: article.date.iso8601}
            = article.date.strftime(data.blog.time.formats.short)
  %footer.article-footer
    - if paginate
      %ul.pager
        - if prev_page
          %li.previous
            = link_to "#{data.blog.prev_sign} #{data.blog.prev_page}", prev_page, rel: "prev"
        - if next_page
          %li.next
            = link_to "#{data.blog.next_page} #{data.blog.next_sign}", next_page, rel: "next"
