---
pageable: true
per_page: 10
---
- if paginate && num_pages > 1
  %p
    Page #{page_number} of #{num_pages}
- page_articles.each_with_index do |article, i|
  %article{style: "margin-bottom: 60px;"}
    %header.article-header
      %h1
        = link_to article.title, article, rel: "bookmark"
      .meta
        %time{datetime: "#{article.date.xmlschema}"}
          = article.date.strftime('%B %d, %Y')
        %span.delimiter
          &bull;
        %span.tags
          = article.tags.map {|tag| link_to tag, tag_path(tag), rel: "tag" }.join(", ")
    .article_body
      = article.summary
    %footer
      = link_to 'Read more…', article, rel: "bookmark", class: "btn btn-link"
- if paginate
  %nav
    %ul.pager
      - if prev_page
        %li.previous
          = link_to '&larr; Previous page', prev_page, rel: "prev"
      - if next_page
        %li.next
          = link_to 'Next page &rarr;', next_page, rel: "next"
