---
pageable: true
per_page: 12
---
%header.article-header
  %h1
    Articles tagged '#{tagname}'
- if paginate && num_pages > 1
  %p
    Page #{page_number} of #{num_pages}
  - if prev_page
    %p= link_to 'Previous page', prev_page
%ul.blog-archives
  - page_articles.each_with_index do |article, i|
    %li.blog-archives-item
      = link_to article.title, article
      %time{datetime: "#{article.date.xmlschema}"}
        = article.date.strftime('%b %d, %Y')
- if paginate
  - if next_page
    %p= link_to 'Next page', next_page
